# .gitignore
.env
inventory_data.json
stock_report.py
.venv/
run.bat
log.txt
archive/
sku_mapping.csv
html/
saimai.py
saimai.xlsx
line_notify.py
git_push.py
create_json_list.py
.vscode
data2/
inventory_database.json